*{
  background-color:#f8f8f8;
}

.array-container {
    position: absolute;
    left: 200px;
    /* top: 100px; */
    margin-top: 20px;
    padding: 1rem;
    border: 1px solid black;
  }
  
  h1{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .array-bar {
    width: 18px;
    display: inline-block;
    margin: 0 1px;
    
  }

  .header{
      height: 10vh;
      background-image: linear-gradient(white,blue);
      padding-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  button{
      margin: 2rem;
  }